# Python / Django
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
db.sqlite3-journal
local_settings.py
*.log

# Environments
.env
.venv
venv/
ENV/
env/

# Node / React
node_modules/
dist/
dist-ssr/
*.local

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
